.img-size-card{
  height: 96px;
  object-fit: cover;
}
.margin-110-t{
  margin-top: 110px;
}
.line-21{
  line-height: 21.33px;
}

div{
  div{
    p,span{
      padding-left: 12px;
    }
  }
}
.margin-80-t{
  margin-top: 80px;
}
.img-size{
  height: 200px;
  object-fit: cover;
}


@media (min-width:700px) and (max-width:1023px){
  .font-18-md{
    font-size: 18px;
  }

  .margin-40-b-md{
    margin-bottom: 40px;
  }
  .line-24-md{
    line-height: 24px;

  }
  .padding-8-t-md{
    padding-top: 8px;
  }
  .padding-24-b-md{
    padding-bottom: 24px;
  }
  .img-size-card{
    height: 128px;
    object-fit: cover;
  }
  .font-24-md{
    font-size: 24px;
  }
  .margin-143-t-md{
    margin-top: 143px;
  }
  .line-36-md{
    line-height: 36px;

  }
  span{
    font-size:12px;
  }
  div{
    div{
      p,span{
        padding-left:16.97px;
      }
    }
  }
  .img-size-md{
    height: 289px;
    object-fit: cover;
  }

}
@media (min-width:1024px){
  .font-24-lg{
    font-size: 24px;
  }
  .font-36-lg{
    font-size: 36px;
  }
  .margin-64-b-lg{
    margin-bottom: 64px;
  }
  .margin-64-b-lg{
    margin-bottom: 64px;
  }
  .line-32-lg{
    line-height: 32px;
  }
  .padding-8-t-lg{
    padding-top: 8px;
  }
  .padding-24-b-lg{
    padding-bottom: 24px;
  }
  .img-size-card{
    height: 176px;
    object-fit: cover;
  }
  .font-32-lg{
    font-size: 36px;
  }
  .margin-174-t-lg{
    margin-top: 174px;
  }
  .line-48-lg{
    line-height: 48px;

  }
  div{
    div{
      p,span{
        padding-left:16px;
      }
    }
  }
  .img-size-lg{
    height: 400px;
    object-fit:cover;
  }
}

