//spacing between elements

$spacing-map:(
"spacing-40": $spacing-40,
"spacing-30": $spacing-30,
"spacing-16": $spacing-16,
"spacing-12": $spacing-12,



);

// spacing all sides

@each $name,$value in $spacing-map {

    // spacing all sides
    .#{$name}{padding:$value;}

    // spacing horizontal
    .#{$name}-h{
        padding-left:$value;
        padding-right:$value;
    }

    // spacing vertical
    .#{$name}-v{
        padding-top:$value;
        padding-bottom:$value;
    }

    // spacing left
    .#{$name}-l{
    padding-left:$value;
}

    // spacing right
    .#{$name}-r{
        padding-right:$value;
    }

    // spacing left
    .#{$name}-t{
    padding-top:$value;
}

    // spacing left
    .#{$name}-b{
    padding-bottom:$value;
}






}




