@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../../fonts/Roboto-Light.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display Medium';
  src: url('../../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-style: normal;
}
