<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-20 col-lg-15">
      <h1 class="fw-bold roboto-font font-36 pt-2">{{title}}</h1>
      <div class="card">
        <picture>
          <source class="card-img" media="(min-width:1024px)" srcset="/assets/images/olympics-desktop.png">
          <source class="card-img" media="(min-width:768px)" srcset="/assets/images/olympics-tablet.png">
          <img class="card-img" src="/assets/images/olympics.png" alt="olympics photo"></picture>
          <div class="card-img-overlay text-white margin-110-t margin-143-t-md margin-174-t-lg col-lg-15 col-24 px-0">
          <p class="fw-bold font-16 font-24-md font-32-lg playfair-font line-21 line-36-md mb-0 line-48-lg ">Massa tortor nibh nulla condimentum imperdiet scelerisque...</p>
          <span class="font-400 font-8 spacing-16-r roboto-font">2 Hours Agoi</span>
          <span class="font-400 font-8 roboto-font">CNN Indonesia</span></div>
</div>
</div>
<div class="d-none col-lg-5 d-lg-block d-xl-block font-400 font-16 margin-80-t playfair-font">

<p class="font-18 line-32 ps-1"><span class="font-48 ps-0">Nisi,</span> sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra, sit nec vivamus pharetra. Velit, dui, egestas nisi, elementum mattis mauris, magnis. Massa tortor nibh nulla condimentum imperdiet scelerisque... <span class="font-700">read more</span></p>
</div>
</div>
</div>

