@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
    font-style:normal;
}


body{
    font-family: 'Poppins';
    background-color: $page-background;
}
*{
	box-sizing: border-box;
}

.contain{
    background-color: $white;
    box-shadow: 0px 30px 60px 0px #20385526;
    border-radius:$border-rad-8 ;
    margin:20px;
}
@mixin size($width,$height){
    width:$width;
    height:$height;
}

.pos-relative{
    position: relative;
}

//opacity
.opacity-50{
    opacity: 50%;
}

.opacity-60{
    opacity: 60%;
}
.opacity-70{
    opacity: 70%;
}

.width-80{
    width:80%
}

.text-right{
    text-align: right;
}