.underline{
    border-bottom: 3px solid #8E9AA0;
}
.spacing-62-l{
    padding-left:62px;
}
.border-rad-80-l{
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;

}
.border-rad-80-r{
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;

}
.spacing-60-b{
    padding-bottom: 60px;
}