//text align
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;

}
.text-left{
    text-align:left;
}

//font-size

$font-size-map:(

"font-11":$font-11,
"font-12":$font-12,
"font-13":$font-13,
"font-14":$font-14,
"font-15":$font-15,
"font-32":$font-32
    
    

);

@each $name,$value in $font-size-map {
    .#{$name}{font-size:$value;}
    }


//font-weight

$font-weight-map:(

"font-400":$font-400,
"font-500":$font-500,
"font-600":$font-600,
"font-700":$font-700,


    
    

);

@each $name,$value in $font-weight-map {
    .#{$name}{font-weight:$value;}
    }

//line-height

$line-height-map:(

"line-12":$line-12,
"line-17":$line-17,
"line-18":$line-18,
"line-21":$line-21,
"line-22":$line-22,
"line-23":$line-23,
"line-24":$line-24

);

@each $name,$value in $line-height-map {
    .#{$name}{line-height:$value;}
    }



// letter spacing

.letter-spacing-03{
    letter-spacing:0.3px;
}

.letter-spacing-05{
    letter-spacing:0.5px;
}

.letter-spacing-02625{
    letter-spacing:0.2625px;
}

