$primary:#4F008C;

$secondary:#FFFFFF;

$warning:#8E9AA0;

$info:#F3F3F1;

$danger:#FF375E;

@import "./bootstrap";

@import "./utils/variables";

@import "./utils/typography";

@import "./utils/reset";

@import "./shared/shared";

@import "./utils/spacing";

@import "./components/box";

