.width-90{
    width:90%;
}
.button-none{
    border-style: none;
    background-color: inherit;
}
.gap-16{
    gap:16px;
}

.hover-effect {
    transition: background-color 0.3s ease; /* Smooth transition */
}

.hover-effect:hover {
    background-color:$light-sky-blue; /* Change color on hover */
    border-left:2px solid $sky-blue;

}
.assign::before {
    content: '';
    position: absolute;
    top: -10px; /* Position above the card */
    left: 93%;
    transform: translateX(-50%); /* Center the triangle */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; /* Color of the triangle */
}
