.gap-4{
    gap:4px;
}
.width-86{
    width:86%;
}
.progress-bar-project{
    background-color: #f0f0f0;
    border-radius: $border-rad-200;
    height:5px;

}
.progress-bar-value-project{
    background-color: $forest-green;
    border-radius: inherit;
    height:inherit;
    width:32%;

}