
.percent{
    position: relative;
    @include size(169px,169px);

}
.percent svg {
    position: relative;
    @include size(150px,150px);
    transform:rotate(90deg);

}
.percent svg circle{
    @include size(150px,150px);
    fill:none;
    stroke-width: 10;
    stroke:$emerald-green;
    transform: translate(5px,5px);
    stroke-dasharray:440;
    stroke-dashoffset:440;
    stroke-linecap: round;

}
.percent svg circle:nth-child(1){

    stroke-dashoffset:0;
    stroke:#f3f3f3;
}
.percent svg circle:nth-child(2){

    stroke-dashoffset:calc(440/4);
    stroke:$emerald-green;
}

.percent .number{
    position:absolute;
    top:50px;
    left:52px; 

}
.number-sub{
    right:26px;
}