.checkbox {
    display: none; /* Hide the default checkbox */
}

.checkbox-label {
    position: relative;
    padding-left: 40px; /* Space for custom checkbox */
    cursor: pointer;
    user-select: none;
}

.checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px; /* Size of custom checkbox */
    height: 24px;
    border: 1px solid $sky-blue; /* Border color */
    border-radius: 50%; /* Rounded corners */
    background-color:#08A0F70F;/* Background color */
}
.checkbox:checked + .checkbox-label::before {
    background-color: $sky-blue; /* Checked background color */
    border-color: $sky-blue; /* Checked border color */
}
.checkbox:checked + .checkbox-label::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 3.8px;
    height: 7.6px;
    border: solid white; /* Checkmark color */
    border-width: 0 2px 2px 0; /* Checkmark shape */
    transform: rotate(45deg);
}
.line-h{
        width: 90%;        /* Full width */
        height: 1px;       /* Thickness of the line */
        background-color: #ECECEC; /* Color of the line */
        margin: 20px 0;    /* Spacing above and below */
    }
    