.progress-bar-copy{
    background-color: #f0f0f0;
    border-radius: $border-rad-200;
    height:5px;

}
.progress-bar-value-copy{
    background-color: $violet-purple;
    border-radius: inherit;
    height:inherit;
    width:37.5%;

}
.progress-bar-illu{
    background-color: #f0f0f0;
    border-radius: $border-rad-200;
    height:5px;

}
.progress-bar-value-illu{
    background-color: $forest-green;
    border-radius: inherit;
    height:inherit;
    width:60%;

}
.progress-bar-ui{
    background-color: #f0f0f0;
    border-radius: $border-rad-200;
    height:5px;

}
.progress-bar-value-ui{
    background-color: $sky-blue;
    border-radius: inherit;
    height:inherit;
    width:28.6%;

}
