<header>
  <nav class="navbar justify-content-end">
    <div id="navbarNav" class="container-fluid d-none d-lg-block d-md-block collapse navbar-collapse">
      <ul  class="nav p-2 justify-content-end ">
        <li class="nav-item"><a class="nav-link underlined " href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link text-secondary " href="#">About</a></li>
        <li class="nav-item"><a class="nav-link text-secondary " href="#">Contact</a></li>
      </ul></div>
      <div class="d-block d-sm-none m-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button></div>


  </nav>

</header>
<div class="purple-bg pb-4">
<section class="text-center justify-content-center border-purple p-3">
  <p class="text-primary h2">{{title}}</p>
  <p >Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</section>
<section id="convert" class="pt-5 mb-4">
<div class="col-4 mx-auto">
<input [(ngModel)]="amount" type="number" class="form-control border border-secondary-subtle" placeholder="Amount"></div>
<div class="text-secondary m-4">
<div class="text-left col-4 mx-auto">
<label class="text-secondary text-right" for="from-country" class="form-label">From</label></div>
<div class="text-center">
<select class="col-4 form-select-sm" id="from-country" [(ngModel)]="fromCurrency">
  <option value="" selected disabled>Country</option>
  <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
</select>
</div>

</div>
<div class="text-secondary m-4">
<div class="text-left col-4 mx-auto">
<label  for="to-country" class="form-label">To</label></div>
<div class="text-center">
<select class="col-4 form-select-sm" id="to-country" [(ngModel)]="toCurrency">
  <option value="" selected disabled>Country</option>
  <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
</select>
</div>

</div>
<div class="m-3 text-center">
  <p>Exchange Rate</p>
  <div *ngIf="convertedAmount !== null" id="rate" class="text-primary m-2 h1">{{convertedAmount|currency:toCurrency:'symbol': '1.2-3'}}</div>
</div>
<div class="text-center pb-5">
<button [disabled]="toCurrency===''||fromCurrency===''||amount===''?true:null" (click)="claculate_rate()" type="button" class="btn btn-primary px-5 mt-2">Convert</button></div>
</section>
<footer class="bg-primary text-white text-center">Copyright-Kayman Communications [2022]</footer>
</div>
