<header>

  <nav class="navbar justify-content-end">
    <div class="container-fluid d-lg-block d-md-block d-none">
      <ul id="navbarToggleExternalContent" class="nav p-2 justify-content-end">
        <li class="nav-item"><a class="nav-link underlined " href="#">Home</a></li>
        <li class="nav-item"><a (click)="addUnderline($event)" class="nav-link text-secondary " href="#">About</a></li>
        <li class="nav-item"><a (click)="addUnderline($event)" class="nav-link text-secondary " href="#">Contact</a></li>
      </ul></div>
      <div class="d-block d-sm-none m-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button></div>


  </nav>

</header>
<section class="text-center justify-content-center border-purple p-3 purple-bg">
  <p class="text-primary h2">{{title}}</p>
  <p >Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</section>
<article class="purple-bg pt-3">
<input [(ngModel)]="amount" type="number" class="w-50  form-control mx-auto border border-secondary-subtle" placeholder="Amount">
<div class="text-secondary m-4">
<div class="text-left w-50 mx-auto">
<label class="text-secondary text-right" for="from-country" class="form-label">From</label></div>
<div class="text-center">
<select class="w-50 form-select-sm" id="from-country" [(ngModel)]="fromCurrency">
  <option value="" selected disabled>Country</option>
  <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
</select>
</div>

</div>
<div class="text-secondary m-4">
<div class="text-left w-50 mx-auto">
<label  for="to-country" class="form-label">To</label></div>
<div class="text-center">
<select class="w-50 form-select-sm" id="to-country" [(ngModel)]="toCurrency">
  <option value="" selected disabled>Country</option>
  <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
</select>
</div>

</div>
<div class="m-3 text-center">
  <p>Exchange Rate</p>
  <div *ngIf="convertedAmount !== null" id="rate" class="text-primary m-2 h1">{{convertedAmount|number:'1.2-3'}}{{toCurrency}}</div>
</div>
<div class="text-center pb-1">
<button [attr.disabled]="toCurrency===''||fromCurrency===''||amount===''?true:null" (click)="claculate_rate()" type="button" class="btn btn-primary px-5 mt-2">Convert</button></div>
</article>

