@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Regular.ttf) format('truetype');
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight:400;
    line-height: 21px;
}
th{
    color:#102C3880;
    opacity: 50%;
}
td{
    color:#102C38;
}
input[type="checkbox"] {
    width: 18px;
    height: 18px;

    --bs-table-striped-bg:black;
}
.table-striped{
    --bs-table-striped-bg:#102C3805;

}
