@import "../../assets/scss/utils/variables";

span {
  color:$span-color;
}

@media (min-width:700px) and (max-width:1023px){
  .font-18-md{
    font-size: 18px;
  }

  .margin-40-b-md{
    margin-bottom: 40px;
  }
  .line-24-md{
    line-height: 24px;

  }
  .padding-8-t-md{
    padding-top: 8px;
  }
  .padding-24-b-md{
    padding-bottom: 24px;
  }


}
@media (min-width:1024px){
  .font-24-lg{
    font-size: 24px;
  }
  .font-36-lg{
    font-size: 36px;
  }
  .margin-64-b-lg{
    margin-bottom: 64px;
  }
  .margin-64-b-lg{
    margin-bottom: 64px;
  }
  .line-32-lg{
    line-height: 32px;
  }
  .padding-8-t-lg{
    padding-top: 8px;
  }
  .padding-24-b-lg{
    padding-bottom: 24px;
  }

}
