
#logo{

    @include size(115px,26px);



    }
header{
    background-image: url("../images/vintage-mobile.jpg");
    
}

.size-h1{
    @include size(295/370*100%,98px);
    padding-top:50px;
}
.size-p{

    @include size(295/370*100%,90px);
}
.btn{
    @include size(34px,34px);
    border-radius:$border-6;
    border-style: none;

}
.flex-space{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items:center;

}
.size-container{
    @include size(320/370*100%,34px);
    padding-top:40px;
    

}
.reserve-btn{
    @include size(320/370*100%,54px);
    border-radius:$border-15;
    border-style:none;
}
.flex-center{
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items:center;

}
.flex-center-row{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:13px;
}
.flex-space-around{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items:center;
    gap:20px;
    padding-right:20px;

}

.margin-auto{
    position: relative;
    margin-right:auto;
    margin-left:auto;
}
.padding-left-12{
    padding-left:12px;
}
.down{
    @include size(108px,18px);
}
.container-1{
    @include size(108px,100px);
    position: relative;
    bottom:50px;
}
.arrow{
    @include size(93px,64px);
    position:relative;
    padding-top: 67.01px;;
    left:0px;
}
.clear-float{
    clear: both;
}
#container-2{
    @include size(100%,471px);
    padding-top:76px;
    padding-bottom: 77px;
    
}
.container-2-div{
    @include size(320px,52px);
    padding-bottom: 48px;
}

.city{

    @include size(198px,17px);
    padding-right:12px;
    padding-top:21px;


}
.width-144{
    width:144px;

}
.width-271{
    width:271px;
}
.price{
    @include size(198px,16px);
    padding-right:12px;
    padding-bottom:17px;
    padding-top: 14px;


}
.white-border{
    @include size(211px,85px);
    border-radius: $border-16;
    bottom:100px;
    
}

.card{
    @include size(235px,370px);


}
.float-right{
    float:right;
}

#service{
    @include size(320px,1100px);
    padding-bottom:76px;
    

}
#purple-arrow{
    position: absolute;
    right:195.84px;
    top:75px;
}
.service-block{
    @include size(249px,264px);
    padding-bottom:40px;
}
.service-container{
    border-radius: $border-25;
    padding-top:64px;
    margin-top:48px;
    @include size(320px,1010.68px);
    
}
#service-title1{
    @include size(163px,20px);


}
#service-title2{
    @include size(249px,56px);
}
.padding-service{
    padding-top:28px;
}

#service-title3{
    @include size(213px,20px);
}
#service-title4{
    @include size(255px,56px);
}
#service-title5{
    @include size(185px,20px);
}
#service-title6{
    @include size(258px,56px);
}
#prices{
    @include size(320/360*100%,1647px);

}
#prices-title{
    @include size(182px,16px);
    padding-left:158px;
    padding-top:76px;

}
#prices-sub{
    @include size(276px,24px);
    padding-left:64px;
    padding-top:12px;
    padding-bottom:48px;

}
.price-border{
    @include size(320px,489px);
    border-radius:$border-25;
    box-shadow: 10px 10px;
    margin-bottom: 40px;

}
.per{
    @include size(251px,36px);
    padding-top:36px;
    padding-bottom:16px;
    justify-content: flex-start;
}
.plan{
    @include size(245px,20px);
    padding-bottom:16px;
    padding-right:0px;


}
.descrip{
    @include size(272px,56px);
    padding-right:0px;
    padding-bottom:32px;
    line-height: 28px;
}
article{

    ul{
        li{
            @include size(300px,24px);
            background-image: url(/images/check-icon.png);
            padding-right:30px;
            @include check();
            

        }
        @include size(279px,110px);
        padding-top:32px;
        padding-bottom: 25px;
        position: relative;
        right:30px;        
    }
}
.border-btn{
    background-color: inherit;
    border-radius: $border-15;
    @include size(272px,54px);
    margin-left:24px;
    gap:12px;

}
.border-white{
    border-color:$white;
}
#reviews{
    @include size(320px,948px);
    padding-top:154px;


}

.review-border{
    @include size(320px,252px);
    margin-top: 48px;

    border-radius:$border-25;
}
.stars{
    @include size(116px,20px);
    padding-top:32px;
    padding-left:184px;
    padding-bottom: 18px;
}

    .reviewer{
        @include size(280px,48px);
        padding-bottom:18px;



    }
.comment{
    @include size(280px,84px);
    padding-bottom:18px;

}
.direct{
    border-radius:50%;
    border-style:none;
    box-shadow: inset;
}
#buttons{
    @include size(120px,48px);
    padding-top:36px;

}
#feedback{
    @include size(320px,1591px);
    padding-top: 76px;

}
#feedback-title{
    @include size(269px,52px);
    padding-bottom:48px;
    padding-left:51px;
}
#feedback-form{
    @include size(320px,566px);
    border-radius:$border-25;
    box-shadow: 10px 10px;
    margin-bottom: 56px;

}
.name-align{
    @include size(280px,94px);
    padding-top:44px;


}

.text-border{
    @include size(280px,60px);
    border-radius:$border-15;

}
.textarea-border{
    @include size(280px,120px);
    border-radius:$border-15;

}
.submit-button{
    @include size(280px,60px);
    border-radius: $border-15;

}
#submit{
    padding-top: 70px;
}
#help{
    @include size(302px,96px);
    padding-top:28px;
    padding-bottom: 40px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
#contact{
    @include size(277px,96px);
    padding-top:28px;
    padding-bottom:40px;

}
#contact-title{
    @include size(86px,20px);
    padding-left:95px;


}
#time{
    @include size(287px,56px);
    padding-top: 25px;

}
#footer{
    @include size(100%,1057px);
    margin-top: 76px;
    a{
        text-decoration: none;
        color: $mid-grey;
    }



}
#my-logo{
    @include size(132px,30px);
    padding-left:208px;
    padding-bottom:28px;
    padding-top: 76px;




}
#company{
    @include size(303px,154px);

}
#self{
    @include size(303px,96px);
    padding-left: 37px;

}
#about{
    @include size(85px,220px);
    padding-top:44px

}
#our-services{
    @include size(112px,268px);
    padding-top:44px


}
#reservations{
    @include size(117px,220px);

}
#website{
    @include size(133px,220px);

}
.sequence-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
