//colors

$yellow:#FEC430;
$light-grey:#A5A5A5;
$mid-grey:#797979;
$grey:#4C4C4C;
$black:#191919;
$white:#ffffff;
$purple:#755AE8;
$sand:#FFE7AC;
$blue:#46368B;
$grape:#F1EFFD;


//Typography

$font-family-default:'Lama Sans',sans-serif;

$font-400:400;
$font-500:500;
$font-600:600;
$font-semi-bold:700;
$font-bold:900;


$header-font:68px;
$font-14:14px;
$font-17:17px;
$font-20:20px;
$font-30:30px;
$font-24:24px;
$font-26:26px;
$font-38:38px;
$font-48:48px;
$font-18:18px;
$font-36:36px;

//border radius
$border-6:6px;
$border-15:15px;
$border-16:16px;
$border-25:25px;






@mixin size($width,$height){
    width:$width;
    height:$height;
}

//lists

@mixin check(){
    background-repeat:repeat-y;
    background-position:right center;
    margin-left:1em;

}



