.roboto-font{
  font-family: 'Roboto';
  font-weight: 700;
}
.roboto-md-font{
  font-family: 'Roboto Medium';
  font-weight: 400;
}
.roboto-light-font{
  font-family: 'Roboto Light';
}
.playfair-font{
  font-family: 'Playfair Display';
}

.playfair-md-font{
  font-family: 'Playfair Display Medium';
}

