//container:mixin
@mixin container($max-width:$media-lg,$grid-gutter:$grid-gutter){
    @if $max-width{
        max-width:$max-width;
    }
    margin-left:auto;
    margin-right:auto;
    padding-left:$spacing-28;
    padding-right:$spacing-28;

}
//container:default/large
.container-lg{
    @include container;
}

//container:Medium
.container-mid{
    @include container($media-mid);
}

//container:Small
.container-sm{
    @include container($media-sm);
}

//container:full width
.container-full{
    @include container($max-width: false);
}

//clearfix
@mixin clearfix{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

.clearfix{
    @include clearfix;
}


//row:mixin
@mixin row($grid-gutter:$grid-gutter){
    margin-left:-$grid-gutter;
    margin-right:-$grid-gutter;
    @include clearfix;

}

//row:default
.row{
    @include row;
}

//row:small
.row-sm{
    @include row($grid-gutter:$grid-gutter-sm);
}

//row:large
.row-lg{
    @include row($grid-gutter:$grid-gutter-lg);
}

//column : Mixin
@mixin col($grid-gutter:$grid-gutter){
    @if $grid-gutter{
        padding-left: $grid-gutter;
        padding-right:$grid-gutter;

    }
}

//column:default
.col{
    @include col;
}

//column:small
.col-sm{
    @include col($grid-gutter:$grid-gutter-sm);
}

//column:large
.col-lg{
    @include col($grid-gutter:$grid-gutter-lg);
}

//column classes
@for $i from 1 through $grid-column-count {
    .col-#{$i} {
        width:percentage(calc($i/$grid-column-count));
    }
}

@media (min-width: 300px) and (max-width: 450px){
    @for $i from 1 through $grid-column-count {
        .col-#{$i}-sm {
            width:percentage(calc($i/$grid-column-count));
        }
    }
}

@media (min-width: 700px) and (max-width: 900px){
    @for $i from 1 through $grid-column-count {
        .col-#{$i}-mid {
            width:percentage(calc($i/$grid-column-count));
        }
    }
}

@media (min-width:$media-lg){
    @for $i from 1 through $grid-column-count {
        .col-#{$i}-lg {
            width:percentage(calc($i/$grid-column-count));
        }
    }
}

//grid:floats

.float-left{
    float:left;
}

.float-right{
    float:right;
}


//grid:flexbox

.flex{
    display:flex;
}

.flex-wrap{
    flex-wrap:wrap;
}

.flex-justify-center{
    justify-content:center;
}

.flex-align-center{
    align-items:center;
}
.flex-end{
    align-items: flex-end;
}
.flex-space-bet{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}

.flex-1{
    flex:1;
}

.margin-left-auto{
    margin-left:auto;
}

.margin-right-auto{
    margin-right:auto;
}

.margin-top-auto{
    margin-top:auto;
}

.margin-bottom-auto{
    margin-bottom:auto;
}