//spacing between elements

$spacing-map:(

"spacing-80": $spacing-80,
"spacing-52": $spacing-52,
"spacing-51": $spacing-51,
"spacing-50": $spacing-50,
"spacing-48": $spacing-48,
"spacing-44": $spacing-44,
"spacing-40": $spacing-40,
"spacing-36": $spacing-36,
"spacing-34": $spacing-34,
"spacing-30": $spacing-30,
"spacing-28": $spacing-28,
"spacing-26": $spacing-26,
"spacing-25": $spacing-25,
"spacing-24": $spacing-24,
"spacing-22": $spacing-22,
"spacing-20": $spacing-20,
"spacing-16": $spacing-16,
"spacing-12": $spacing-12,
"spacing-10": $spacing-10,
"spacing-8": $spacing-8,
"spacing-4": $spacing-4,



);

// spacing all sides

@each $name,$value in $spacing-map {

    // spacing all sides
    .#{$name}{padding:$value;}

    // spacing horizontal
    .#{$name}-h{
        padding-left:$value;
        padding-right:$value;
    }

    // spacing horizontal
    .#{$name}-v{
        padding-top:$value;
        padding-bottom:$value;
    }

    // spacing left
    .#{$name}-l{
    padding-left:$value;
}

    // spacing right
    .#{$name}-r{
        padding-right:$value;
    }

    // spacing left
    .#{$name}-t{
    padding-top:$value;
}

    // spacing left
    .#{$name}-b{
    padding-bottom:$value;
}






}




